In [94]:
import pandas as pd
import matplotlib.pyplot as plt

In [95]:
# Load in data 
file_path_raw = './data/compas-scores-raw.csv'
file_path_non_violent = './data/compas-scores-two-years.csv'
file_path_violent = './data/compas-scores-two-years-violent.csv'

compas_data_raw = pd.read_csv(file_path_raw)
two_years_data = pd.read_csv(file_path_non_violent)
two_years_violent_data = pd.read_csv(file_path_violent)
compas_data_info = compas_data_raw.info()
compas_data_head = compas_data_raw.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60843 entries, 0 to 60842
Data columns (total 28 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Person_ID                60843 non-null  int64
 1   AssessmentID             60843 non-null  int64
 2   Case_ID                  60843 non-null  int64
 3   Agency_Text              60843 non-null  object
 4   LastName                 60843 non-null  object
 5   FirstName                60843 non-null  object
 6   MiddleName               15624 non-null  object
 7   Sex_Code_Text            60843 non-null  object
 8   Ethnic_Code_Text         60843 non-null  object
 9   DateOfBirth              60843 non-null  object
 10  ScaleSet_ID              60843 non-null  int64
 11  ScaleSet                 60843 non-null  object
 12  AssessmentReason         60843 non-null  object
 13  Language                 60843 non-null  object
 14  LegalStatus              60843 non-null  object
 15  CustodyStatus            60843 non-null  object
 16  MaritalStatus            60843 non-null  object
 17  Screening_Date           60843 non-null  object
 18  RecSupervisionLevel      60843 non-null  int64
 19  RecSupervisionLevelText  60843 non-null  object
 20  Scale_ID                 60843 non-null  int64
 21  DisplayText              60843 non-null  object
 22  RawScore                 60843 non-null  float64
 23  DecileScore              60843 non-null  int64
 24  ScoreText                60798 non-null  object
 25  AssessmentType           60843 non-null  object
 26  IsCompleted              60843 non-null  int64
 27  IsDeleted                60843 non-null  int64
dtypes: float64(1), int64(9), object(18)
memory usage: 13.0+ MB

In [96]:
# Cleaning for raw data set
# one-hot-encodes sex, ethnicity, language and maritial status
# flattens DisplayText Column to get compas scores for each individual
# Drops all other columns not of interest

def collapse_raw_data(df):
    '''
    output:
    dataframe with columns: 
    'FirstName', str
    'LastName', str
    'DateOfBirth', timestamp
    'Sex_Female', bool
    'Sex_Male', bool
    'Ethnicity_African-Am', bool
    'Ethnicity_African-American',bool
    'Ethnicity_Arabic', bool
    'Ethnicity_Asian', bool
    'Ethnicity_Caucasian',bool
    'Ethnicity_Hispanic', bool
    'Ethnicity_Native American'bool, 
    'Ethnicity_Oriental',bool
    'Ethnicity_Other', bool
    'Language_English', bool
    'Language_Spanish',bool
    'MaritalStatus_Divorced', bool
    'MaritalStatus_Married',bool
    'MaritalStatus_Separated', bool
    'MaritalStatus_Significant Other',bool
    'MaritalStatus_Single', bool
    'MaritalStatus_Unknown',bool
    'MaritalStatus_Widowed', bool
    'DecileScore_Risk of Failure to Appear', int
    'DecileScore_Risk of Recidivism', int
    'DecileScore_Risk of Violence', int
    'RawScore_Risk of Failure to Appear', float
    'RawScore_Risk of Recidivism',float
    'RawScore_Risk of Violence'float
    '''
    
    sex_dummies = pd.get_dummies(df['Sex_Code_Text'], prefix='Sex').astype(int)
    ethnic_dummies = pd.get_dummies(df['Ethnic_Code_Text'], prefix='Ethnicity').astype(int)
    language_dummies = pd.get_dummies(df['Language'], prefix='Language').astype(int)
    marital_dummies = pd.get_dummies(df['MaritalStatus'], prefix='MaritalStatus').astype(int)

    pivoted = df.pivot_table(
        index=['FirstName', 'LastName', 'DateOfBirth'],
        columns='DisplayText',
        values=['RawScore', 'DecileScore'],
        aggfunc='first'
    )
    pivoted.columns = ['_'.join(col).strip() for col in pivoted.columns.values]

    collapsed = df[['FirstName', 'LastName', 'DateOfBirth']].drop_duplicates()
    collapsed = collapsed.merge(sex_dummies, left_index=True, right_index=True, how='left')
    collapsed = collapsed.merge(ethnic_dummies, left_index=True, right_index=True, how='left')
    collapsed = collapsed.merge(language_dummies, left_index=True, right_index=True, how='left')
    collapsed = collapsed.merge(marital_dummies, left_index=True, right_index=True, how='left')
    collapsed = collapsed.merge(pivoted, left_on=['FirstName', 'LastName', 'DateOfBirth'], right_index=True, how='left')
    return collapsed

In [97]:
raw_data_cleaned = collapse_raw_data(compas_data_raw)
raw_data_cleaned.head(5)
raw_data_cleaned.columns

Index(['FirstName', 'LastName', 'DateOfBirth', 'Sex_Female', 'Sex_Male',
       'Ethnicity_African-Am', 'Ethnicity_African-American',
       'Ethnicity_Arabic', 'Ethnicity_Asian', 'Ethnicity_Caucasian',
       'Ethnicity_Hispanic', 'Ethnicity_Native American', 'Ethnicity_Oriental',
       'Ethnicity_Other', 'Language_English', 'Language_Spanish',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Separated', 'MaritalStatus_Significant Other',
       'MaritalStatus_Single', 'MaritalStatus_Unknown',
       'MaritalStatus_Widowed', 'DecileScore_Risk of Failure to Appear',
       'DecileScore_Risk of Recidivism', 'DecileScore_Risk of Violence',
       'RawScore_Risk of Failure to Appear', 'RawScore_Risk of Recidivism',
       'RawScore_Risk of Violence'],
      dtype='object')

In [ ]:
def process_compas_data(df):
    '''
    output:
    'id', int
    'FirstName', str
    'LastName', str
    'DateOfBirth', timestamp
    'priors_count', int
    'age',int
    'v_decile_score', int
    'two_year_recid', bool
    'is_recid', bool
    'juv_fel_count',bool
    'juv_misd_count', bool
    'juv_other_count', bool
    'c_charge_degree', cat
    'c_charge_desc',cat
    'above_45', bool
    'below_25'bool
    
    '''
    columns_of_interest = [
        'id', 'first', 'last', 'dob', 'priors_count', 'age',
        'v_decile_score', 'two_year_recid', 'is_recid',
        'juv_fel_count', 'juv_misd_count', 'juv_other_count',
        'c_charge_degree', 'c_charge_desc'
    ]
    df = df[columns_of_interest]

    df['above_45'] = (df['age'] > 45).astype(int)
    df['below_25'] = (df['age'] < 25).astype(int)
    df['is_felon'] = (df['c_charge_degree'] =='F').astype(int)
    df['is_misdemeanor'] = (df['c_charge_degree'] =='M').astype(int)
    df = df.drop(columns=['c_charge_degree'])

    # charge_degree_dummies = pd.get_dummies(df['c_charge_degree'], prefix='ChargeDegree').astype(int)
    # charge_desc_dummies = pd.get_dummies(df['c_charge_desc'], prefix='ChargeDesc').astype(int)
    
    # df = pd.concat([df, charge_degree_dummies, charge_desc_dummies], axis=1)

    # df.drop(columns=['c_charge_degree', 'c_charge_desc'], inplace=True)
    df.rename(columns={'first': 'FirstName', 'last': 'LastName', 'dob': 'DateOfBirth'}, inplace=True)
    return df

In [99]:
# Join raw data with compas-scores-two-years/violent
# due to common index / id joining on first name, last name and DOB
# After manual inspection this appears to work OK

def normalize_and_join(raw_df, compas_df):
    raw_df['FirstName'] = raw_df['FirstName'].str.strip().str.lower()
    raw_df['LastName'] = raw_df['LastName'].str.strip().str.lower()
    raw_df['DateOfBirth'] = pd.to_datetime(raw_df['DateOfBirth'], errors='coerce')

    compas_df['FirstName'] = compas_df['FirstName'].str.strip().str.lower()
    compas_df['LastName'] = compas_df['LastName'].str.strip().str.lower()
    compas_df['DateOfBirth'] = pd.to_datetime(compas_df['DateOfBirth'], errors='coerce')
    combined_df_all = pd.merge(
        raw_df,
        compas_df,
        on=['FirstName', 'LastName', 'DateOfBirth'],
        how='outer',
        indicator=True
    )
    combined_df_matches = pd.merge(
        raw_df,
        compas_df,
        on=['FirstName', 'LastName', 'DateOfBirth'],
        how='inner',
        indicator=True
    )
    combined_df_all['Enhanced_Data'] = (combined_df_all['_merge'] == 'both').astype(int)
    combined_df_all.drop(columns=['_merge'], inplace=True)
    return combined_df_all, combined_df_matches

In [100]:
def test_data_cleaning(raw_data, compas_two_years_data, compas_two_years_violent_data):
    # TODO
    # Write test cases for data cleaning 
    pass

In [101]:
# Helper function to test for bad merge results between compas-scores-two-years datasets
def check_collisions(df, columns_to_check, suffixes=('_general', '_violent')):
    collision_flag = pd.Series(0, index=df.index)  
    collision_details = []

    for col in columns_to_check:
        col_general = f"{col}{suffixes[0]}"
        col_violent = f"{col}{suffixes[1]}"
        
        if col_general in df.columns and col_violent in df.columns:
            mismatch = df[col_general] != df[col_violent]
            mismatch = mismatch & (~df[col_general].isnull()) & (~df[col_violent].isnull())  # Ignore NaNs
            collision_flag |= mismatch.astype(int)
            collision_details.append((col, df[mismatch][[col_general, col_violent]]))

    df['Collision_Flag'] = collision_flag

    for col, mismatches in collision_details:
        print(f"Collisions detected in column: {col}")
        print(mismatches)

    return df

In [102]:
two_years_data_processed = process_compas_data(two_years_data)
two_years_violent_data_processed = process_compas_data(two_years_violent_data)

/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/3241098866.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['above_45'] = (df['age'] > 45).astype(int)
/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/3241098866.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['below_25'] = (df['age'] < 25).astype(int)
/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/3241098866.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'first': 'FirstName', 'last': 'LastName', 'dob': 'DateOfBirth'}, inplace=True)
/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/3241098866.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['above_45'] = (df['age'] > 45).astype(int)
/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/3241098866.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['below_25'] = (df['age'] < 25).astype(int)
/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/3241098866.py:39: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'first': 'FirstName', 'last': 'LastName', 'dob': 'DateOfBirth'}, inplace=True)

In [103]:
two_years_violent_data_processed.head(5)

,id,FirstName,LastName,DateOfBirth,priors_count,age,v_decile_score,two_year_recid,is_recid,juv_fel_count,juv_misd_count,juv_other_count,c_charge_degree,c_charge_desc,above_45,below_25
0,1,miguel,hernandez,1947-04-18,0,69,1,0,0,0,0,0,F,Aggravated Assault w/Firearm,1,0
1,3,kevon,dixon,1982-01-22,0,34,1,1,1,0,0,0,F,Felony Battery w/Prior Convict,0,0
2,5,marcu,brown,1993-01-21,1,23,6,0,0,0,1,0,F,Possession of Cannabis,0,1
3,6,bouthy,pierrelouis,1973-01-22,2,43,1,0,0,0,0,0,F,arrest case no charge,0,0
4,7,marsha,miles,1971-08-22,0,44,1,0,0,0,0,0,M,Battery,0,0

In [104]:
two_years_data_processed.head(5)

,id,FirstName,LastName,DateOfBirth,priors_count,age,v_decile_score,two_year_recid,is_recid,juv_fel_count,juv_misd_count,juv_other_count,c_charge_degree,c_charge_desc,above_45,below_25
0,1,miguel,hernandez,1947-04-18,0,69,1,0,0,0,0,0,F,Aggravated Assault w/Firearm,1,0
1,3,kevon,dixon,1982-01-22,0,34,1,1,1,0,0,0,F,Felony Battery w/Prior Convict,0,0
2,4,ed,philo,1991-05-14,4,24,3,1,1,0,0,1,F,Possession of Cocaine,0,1
3,5,marcu,brown,1993-01-21,1,23,6,0,0,0,1,0,F,Possession of Cannabis,0,1
4,6,bouthy,pierrelouis,1973-01-22,2,43,1,0,0,0,0,0,F,arrest case no charge,0,0

In [105]:
# temp merge to check for collisions 
compas_combined = pd.merge(
    two_years_data_processed,
    two_years_violent_data_processed,
    on='id',
    how='outer',
    suffixes=('_general', '_violent')
)

In [106]:
# Sanity check merging data is safe and we don't have any collisions 
# Results look good, we can proceed
columns_to_check = ['age', 'priors_count', 'juv_fel_count', 'v_decile_score', 'two_year_recid']
compas_combined = check_collisions(compas_combined, columns_to_check)

Collisions detected in column: age
Empty DataFrame
Columns: [age_general, age_violent]
Index: []
Collisions detected in column: priors_count
Empty DataFrame
Columns: [priors_count_general, priors_count_violent]
Index: []
Collisions detected in column: juv_fel_count
Empty DataFrame
Columns: [juv_fel_count_general, juv_fel_count_violent]
Index: []
Collisions detected in column: v_decile_score
Empty DataFrame
Columns: [v_decile_score_general, v_decile_score_violent]
Index: []
Collisions detected in column: two_year_recid
Empty DataFrame
Columns: [two_year_recid_general, two_year_recid_violent]
Index: []

In [108]:
# Identify overlapping columns (excluding the key column 'id')
overlapping_columns = [col for col in two_years_violent_data_processed.columns 
                       if col in two_years_data_processed.columns and col != 'id']

# Drop overlapping columns from one dataset
two_years_violent_data_subset = two_years_violent_data_processed.drop(columns=overlapping_columns)

# Merge datasets without duplicating columns
compas_combined = pd.merge(
    two_years_data_processed,
    two_years_violent_data_subset,
    on='id',
    how='outer'
)
compas_combined.head(5)

,id,FirstName,LastName,DateOfBirth,priors_count,age,v_decile_score,two_year_recid,is_recid,juv_fel_count,juv_misd_count,juv_other_count,c_charge_degree,c_charge_desc,above_45,below_25
0,1,miguel,hernandez,1947-04-18,0.0,69.0,1.0,0.0,0.0,0.0,0.0,0.0,F,Aggravated Assault w/Firearm,1.0,0.0
1,3,kevon,dixon,1982-01-22,0.0,34.0,1.0,1.0,1.0,0.0,0.0,0.0,F,Felony Battery w/Prior Convict,0.0,0.0
2,4,ed,philo,1991-05-14,4.0,24.0,3.0,1.0,1.0,0.0,0.0,1.0,F,Possession of Cocaine,0.0,1.0
3,5,marcu,brown,1993-01-21,1.0,23.0,6.0,0.0,0.0,0.0,1.0,0.0,F,Possession of Cannabis,0.0,1.0
4,6,bouthy,pierrelouis,1973-01-22,2.0,43.0,1.0,0.0,0.0,0.0,0.0,0.0,F,arrest case no charge,0.0,0.0

In [109]:
print(len(two_years_data_processed))
print(len(two_years_violent_data_processed))
print(len(compas_combined))
print(len(raw_data_cleaned))

7214
4743
7219
18523

In [110]:
combined_df_all, combined_df_matches = normalize_and_join(raw_data_cleaned, compas_combined)
print(len(combined_df_all))
print(len(combined_df_matches))

/var/folders/jh/g1jlvxkd1nv5yvt4q5pmbzn00000gn/T/ipykernel_24153/2359286485.py:8: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  raw_df['DateOfBirth'] = pd.to_datetime(raw_df['DateOfBirth'], errors='coerce')

20641
5140

In [111]:
combined_df_all.head(5)

,FirstName,LastName,DateOfBirth,Sex_Female,Sex_Male,Ethnicity_African-Am,Ethnicity_African-American,Ethnicity_Arabic,Ethnicity_Asian,Ethnicity_Caucasian,...,two_year_recid,is_recid,juv_fel_count,juv_misd_count,juv_other_count,c_charge_degree,c_charge_desc,above_45,below_25,Enhanced_Data
0,kevin,fisher,1992-12-05,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,kevin,kendall,1984-09-16,0.0,1.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,M,Battery,0.0,0.0,1
2,daniel,dayes,1994-08-25,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,1.0,0.0,M,Assault,0.0,1.0,1
3,mikerlie,debe,1994-10-09,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,M,Battery,0.0,1.0,1
4,stephanie,mclaurin,1985-06-29,1.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,F,Aggravated Assault W/dead Weap,0.0,0.0,1

In [112]:
combined_df_all.columns

Index(['FirstName', 'LastName', 'DateOfBirth', 'Sex_Female', 'Sex_Male',
       'Ethnicity_African-Am', 'Ethnicity_African-American',
       'Ethnicity_Arabic', 'Ethnicity_Asian', 'Ethnicity_Caucasian',
       'Ethnicity_Hispanic', 'Ethnicity_Native American', 'Ethnicity_Oriental',
       'Ethnicity_Other', 'Language_English', 'Language_Spanish',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Separated', 'MaritalStatus_Significant Other',
       'MaritalStatus_Single', 'MaritalStatus_Unknown',
       'MaritalStatus_Widowed', 'DecileScore_Risk of Failure to Appear',
       'DecileScore_Risk of Recidivism', 'DecileScore_Risk of Violence',
       'RawScore_Risk of Failure to Appear', 'RawScore_Risk of Recidivism',
       'RawScore_Risk of Violence', 'id', 'priors_count', 'age',
       'v_decile_score', 'two_year_recid', 'is_recid', 'juv_fel_count',
       'juv_misd_count', 'juv_other_count', 'c_charge_degree', 'c_charge_desc',
       'above_45', 'below_25', 'Enhanced_Data'],
      dtype='object')

In [113]:
combined_df_matches.head(5)

,FirstName,LastName,DateOfBirth,Sex_Female,Sex_Male,Ethnicity_African-Am,Ethnicity_African-American,Ethnicity_Arabic,Ethnicity_Asian,Ethnicity_Caucasian,...,two_year_recid,is_recid,juv_fel_count,juv_misd_count,juv_other_count,c_charge_degree,c_charge_desc,above_45,below_25,_merge
0,kevin,kendall,1984-09-16,0,1,0,0,0,0,1,...,0.0,0.0,0.0,0.0,0.0,M,Battery,0.0,0.0,both
1,daniel,dayes,1994-08-25,0,1,0,1,0,0,0,...,0.0,1.0,0.0,1.0,0.0,M,Assault,0.0,1.0,both
2,mikerlie,debe,1994-10-09,1,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,M,Battery,0.0,1.0,both
3,stephanie,mclaurin,1985-06-29,1,0,0,1,0,0,0,...,0.0,0.0,0.0,0.0,0.0,F,Aggravated Assault W/dead Weap,0.0,0.0,both
4,terrance,holland,1984-01-11,0,1,0,0,0,0,0,...,0.0,0.0,1.0,1.0,0.0,F,arrest case no charge,0.0,0.0,both

In [114]:
combined_df_matches.columns

Index(['FirstName', 'LastName', 'DateOfBirth', 'Sex_Female', 'Sex_Male',
       'Ethnicity_African-Am', 'Ethnicity_African-American',
       'Ethnicity_Arabic', 'Ethnicity_Asian', 'Ethnicity_Caucasian',
       'Ethnicity_Hispanic', 'Ethnicity_Native American', 'Ethnicity_Oriental',
       'Ethnicity_Other', 'Language_English', 'Language_Spanish',
       'MaritalStatus_Divorced', 'MaritalStatus_Married',
       'MaritalStatus_Separated', 'MaritalStatus_Significant Other',
       'MaritalStatus_Single', 'MaritalStatus_Unknown',
       'MaritalStatus_Widowed', 'DecileScore_Risk of Failure to Appear',
       'DecileScore_Risk of Recidivism', 'DecileScore_Risk of Violence',
       'RawScore_Risk of Failure to Appear', 'RawScore_Risk of Recidivism',
       'RawScore_Risk of Violence', 'id', 'priors_count', 'age',
       'v_decile_score', 'two_year_recid', 'is_recid', 'juv_fel_count',
       'juv_misd_count', 'juv_other_count', 'c_charge_degree', 'c_charge_desc',
       'above_45', 'below_25', '_merge'],
      dtype='object')

In [116]:
combined_df_matches.to_csv('./combined_df_matches.csv', index=False)
combined_df_all.to_csv('./combined_df_all.csv', index=False)